 .logo {
  float: right;
  width: 150px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: url('./logo-png.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.ant-layout-header {
  padding: 0 27px;
}